body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table.board{
	border-collapse: separate;
	border-spacing: 3px;
	width: 350px;
	height: 350px;
}

table.fixed { 
	table-layout:fixed; 
}

table.fixed td { 
	overflow: hidden; 
}

.tile {
	background-size: contain;
	line-height: 0;
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 3px;
	margin: 1px;
	text-align: center;
}

.sweeped {
	background: #eee;
}

.mine {
	background-image: url('res/icons/explosion.svg');
}

.flag, .wrong-flag {
	background-image: url('res/icons/flag.svg');
}

.wrong-flag{
	background-color: rgb(255,220,220); 
}
